.App {
    text-align: center;
    margin: 20px;
}
.black-border-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.black-bordered-window {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
}
.friends-list {
    list-style: none;
    padding: 0;
}

.friends-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.friends-list li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.request-list {
    list-style: none;
    padding: 0;
}

.request-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.request-list li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

li:hover {
    background-color: #0084FF;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.button-container button {
    padding: 4px 8px;
    font-size: 0.8em;
}

button {
    padding: 4px 8px;
    font-size: 0.8em;

}

ul {
    list-style-type: none;
    padding: 0;
}