.App {
    text-align: center;
    margin: 20px;
}
.black-border-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 3px solid black;
}
.black-bordered-window {
    width: 80%;
    max-width: 600px; /* Adjust as needed */
    padding: 20px;
    background-color: white;
}
.friends-list {
    list-style: none;
    padding: 0;
}

.friends-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; /* Adjust spacing between users */
}

.request-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

button {
    padding: 4px 8px;
    font-size: 0.8em;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}